.certification {
    margin-top: 25%;
    background-color: Grey;
  }
  
  .certification__main__container h1 {
    margin-top: 10%;
    background-color: Grey;
    padding: 4rem;
    text-align: center;
} 
  .certification__main__container p {
    background-color: Grey;
    color: black;
    margin-top: 0%;    
    margin-bottom: 0%;    
    text-align: center;
  }
  
  #certification__card__container {
    width: 100%;
    align-items: column;
    padding: 50px;
    left: 0%; 
    top: 10%;
    background-color: Grey;
    border: none;
  }
  
  .certification__image:hover {
    cursor: pointer;
    filter: brightness(50%);
  }
  
  .certification__click__info {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--font-color);
    display: none;
  }
  
  .certification__image:hover + .certification__click__info {
    display: block;
  }
  
  .modal-backdrop.show {
    opacity: .1 !important;
  }
  
  #certification__modal__link {
    padding: 0 0 1rem 1rem
  }
  
  #certification__modal__link:link {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 600px){
      #certification__card__container {
      width: 100%;
      padding: 0.5rem 2.5rem;
      border: none;
    }
  }