.main-info {
  margin-top: 10%;
  margin-bottom: 0%;  
  display: flex;
  background-color: Grey;
  color: rgb(243, 238, 243);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}