.main-info {
  display: flex;
  position: absolute;
  color: rgb(180, 175, 180);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 1.5px solid rgb(229, 191, 40);
}