.main-info {
  display: flex;
  position: absolute;
  color: rgb(243, 238, 243);
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}